[submodule "games/dice_game"]
	path = games/dice_game
	url = git@github.com:DaoCasino/DiceGame.git
[submodule "games/FindTheEthereum"]
	path = games/FindTheEthereum
	url = git@github.com:DaoCasino/FindTheEthereum.git
